@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");
/* variables */
:root {
  /* Colors */
  --primary-color: #f95700;
  --secondary-color: #fcedda;
  --bg-primary: #ffffff;
  --text-color: #090909;
  --text-color-two: #ffffff;
  --text-color-thr: #939393;
  --bg-secondary: #090909;
  --card-background: #f4f4f4;
  --bg-secondary-two: #111111;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  /* Font Weight */
  --weight-small: 400;
  --weight-semibold: 700;
  --weight-bold: 800;
  --weight-Exbold: 900;

  /* Max width */
  --width-small: 800px;
  --width-medium: 1100px;
  --width-large: 1300px;

  /* font-animation */
  --size-exsmall: 44px;
  --size-small: 60px;
  --size-medium: 80px;
  --size-large: 110px;
}

[data-theme="dark"] {
  --primary-color: #f95700;
  --secondary-color: #f95700;
  --bg-primary: #000000;
  --text-color: #ffffff;
  --text-color-two: #222222;
  --text-color-thr: #949494;
  --bg-secondary: #ffffff;
  --card-background: #111111;
  --bg-secondary-two: #f4f4f4;
  --shadow: 0 2px 10px rgba(95, 95, 95, 0.2);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main styling */
body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "NanumSquare", sans-serif;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 0;
}

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}

/* Buttons */
.btn-group {
  display: flex;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;
}

.btn-secondary {
  min-width: 48%;
  max-width: 100%;
  margin: 5px 2px;
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
}
/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}

/* Dark mode toggle */
#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}
