@charset "uft-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Oswald:200,300,400,500,600,700&subset=korean');

h1, h2, h3, h4, div, ul, li, dl, dt, dd, p, addredss, header, nav, section, article, footer, aside,figure,main, body,a {margin: 0; padding: 0; box-sizing: border-box;}
header, nav, main, setion, article, footer, aside, figure {display: block;}
li {list-style: none;}
a {text-decoration: none; color: #898989;}
a img {border: 0;}
img {vertical-align: middle;}
.mobile {display: none;}


#mainheader {width: 100%; height: 100px; background: #000; }
.headermenu {width: 1100px; height: 100%; margin: 0 auto; position: relative; }
.headermenu .main_icon {position: absolute; top: 25%; padding: 10px; z-index: 111;}
.main_icon img {width: 120px;}
.nav_gnb {position: relative; height: 100%; z-index: 100;}
.vdlmenu {position: absolute; right: 0; top: 0; height: 100px;}
.vdlmenu li {float: left; width: 160px; height: 100%; font: 18px 'Oswald', 'sans-serif';  font-weight: 500; text-align: center; transition: all 0.3s; padding: 35px 0;}
.vdlmenu li:hover {background: #eee; height: 120%;}
.vdlmenu li:hover a{color: #000;}
.vdlmenu li a {color: #fff; text-transform: uppercase; padding: 15px;}
.vdlmenu .vdlmenu_f .vdlmenu_f_m{position: absolute; top: 100px; left: 0; display: none; background-size: 0; 
float: left; width: 0; text-align: center; transition: all 0.5s;}
.vdlmenu .vdlmenu_f:hover .vdlmenu_f_m{display: block; background: #eee; width: 25%;}
.vdlmenu .vdlmenu_f .vdlmenu_f_m li{padding: 20px 0; display: block; font-weight: 400;}
.vdlmenu .vdlmenu_f .vdlmenu_f_m li:hover{background: #222;}
.vdlmenu .vdlmenu_f .vdlmenu_f_m li:hover a{color: #fff;}

#slide{width: 100%; height: 700px; overflow:hidden;}
.slideshow {width: 100%; height: 100%; position: relative;}
.slideshow img {width: 100%; position: absolute;top: 0; left: 0;}
.slideshow img.pic {display: none;}



/*topseller*/
#topseller { width: 100%; height: 500px; overflow: hidden; margin: 30px auto 0;}
.seller_menu{ width: 80%; margin: 0 auto;}
.seller_menu h2 {text-align: center; font: 25px 'Oswald','sans-serif'; text-transform: uppercase; margin-bottom: 30px;}
.seller {float: left; width: 100%; overflow: hidden; height: 350px; 
        display: inline-block; margin: 0 auto 50px; position: relative;}
.seller > a.arrow1{ padding: 20px; margin: 10px; position: absolute; top: 25%; width: 80px;}
.seller > a.arrow2 {position: absolute; top: 25%; right: 0; width: 80px; padding: 20px; margin: 10px;}
.sellerin {margin: 0 auto; width: 100%;}
.sellerin .product {margin: 30px auto 0; width: 80%;}
.sellerin .product li{float: left; width: 25%; text-align: center;}
.sellerin .text {font: 16px 'Noto Sans KR','sans-serif'; text-align: center; color: #222; width: 70%; margin-left: 35px; font-weight: 400;}
.text span {font-size: 14px; color: #999;}
.seller .product li img {display: inline-block; width: 90%; height: 100%; margin-bottom: 10px; transition: all 0.2s; content: '';}
.product li:hover img{background: #e0e0e0;}
.product li:hover .text {font-weight: 600; color: #3b3b3b;}

#promo {width: 100%; overflow: hidden;}
.promotion {height: 100%; width: 50%; margin: 0 auto; float: left; }
.promotion img{height: 100%; width: 100%;}


/*event*/
#event {width: 100%; height: 450px; background: linear-gradient(#ff4d38,#f47a6b); margin: 0 auto; position: relative;}
#event .eventtext {width: 1050px; margin: 0 auto; padding-top: 50px; color: #fff; text-transform: uppercase; }
.eventtext h1 {font: 60px 'Oswald','sans-serif'; line-height: 70px; font-weight: 500;}
.eventtext span {background: #fff; color: #f47a6b; margin: 5px 0 0; padding: 0 10px; display: inline-block;}
.eventtext p {font:16px 'Noto Sans KR', sans-serif; margin-top: 20px; font-weight: 200;}
#event .event_img { position: absolute; right: 10%; top: 0;}
#event .event_img img{width: 100%;}
#event .btn01 { position: absolute; right: 700px; bottom: 20px; font-size: 18px; color: #fff; padding: 15px 50px; border: 2px solid #fff; z-index: 10; font-family: 'Noto Sans KR', sans-serif; font-weight: 600;}
#event .btn01:hover {background: #fff; color:#ef5d4c;}

#insta {width: 90%; height: 100%; margin: 0 auto; }
#insta h2{display: block; width: 200px; color: #fff; background: #000; font: 22px 'Oswald','sans-serif'; font-weight: 200; text-transform: uppercase;  padding: 3px 10px; margin: 150px auto 0;}
#insta p {text-align: right; margin: 0 100px 0 0; font: 14px 'Oswald:200','sans-serif';}
.instagram { margin: 30px 0 100px 0; overflow: hidden;}
.instagram .pic{float: left; width: 17%; height: 20%; margin-left: 20px; background: #f4a48c; border: 1px solid #f4a48c; overflow: hidden; box-sizing: border-box;}
.instagram .pic img{width: 100%; height: 100%; transition: all 0.3s;}
.instagram .pic:hover img{transform: scale(1.1); opacity: 0.7}

/*footer*/
footer {width: 100%; height: 100%; text-align: center;}
footer article > p:last-child {margin: 30px 0; color: #888}
footer article {width: 75%; margin: 0 auto; overflow: hidden; border-top: 2px solid #a0a0a0;}
.sns {overflow: hidden; width: 30%; height: 80px; margin: 60px auto 0; }
.sns ul li {float: left; width: 25%; font-size: 25px;}
.footermenu {width: 65%; margin: 0 auto; overflow: hidden; }
.footermenu ul li {float: left; width: 15%;  font-size: 14px; text-align: center; border-right: 1px solid #c7c7c7; }
.footermenu ul li:last-child { padding-right: 0;}
.footermenu ul li:nth-child(4) {padding:0 5px; width: 18%;}

.footertxt {width: 1200px; font-size: 12px; color: #888; overflow: hidden; margin-top: 30px;}
.footertxt p {float: left; padding: 0 30px; margin: 2px 0; border-right: 1px solid #999; display: inline-block; }
.footertxt .footer_border-n {border: none;}



/*sub1*/
section {width: 100%; font: 20px 'Oswald','sans-serif'; font-weight: 300;}
article {width: 100%; margin: 0 auto;  height: auto; position: relative;}
article .littlemenu { width: 90%; height: 50px; font-size: 14px;  text-align: right; margin-top: 20px; text-transform: uppercase;}
.littlemenu p {font-size: 12px; display: inline-block; color: #888}
.littlemenu i {margin: 0 10px;color: #888}
.pro_bg {width: 100%; height: 300px; background: url(../img/sub1/sub1_main.jpg)no-repeat bottom left/ cover;}
.pro_bg .pro_menu {width: 20%; background: rgb(238, 238, 238,0.9); height: 100%; position: absolute; right: 150px; float: left; font-size: 20px;}
.pro_bg .pro_menu a{display: block; text-align: center; height: 35px; margin: 10px 0;}
.pro_menu .pro_menu-in{text-align: center; height: 70px; margin: 20px 0; padding: 10px 0; font-size: 28px; pointer-events: none;}
.pro_bg .pro_m_in{position: absolute; bottom: -25%; left: 25%; width: 80%;}
.pro_bg .pro_m_in a {width: 15%; font-size: 20px; display: block; float: left; margin: 0 5px; text-align: center; padding: 7px 0; background: #bcbcbc; color: #eee;}
.pro_bg .pro_m_in .on {background: #f5f5f5; color: #222; font-weight: 400;}

.pro_item {overflow: hidden; display: block; width: 90%; margin: 100px auto 0;}
.pro_item ul {margin: 0 auto; width: 85%;}
.pro_item ul li {float: left; width: 21%; margin: 45px 20px; position: relative;}
.pro_item ul li a {padding: 20px; text-align: center; font: 15px 'Noto Sans KR','sans-serif'; font-weight: 400;}
.pro_item a .text {padding: 0 30px; text-transform: uppercase;}
.pro_item a .price {margin-top: 10px; font-weight: 500; font-size: 17px;}
.pro_item img {width: 90%; margin-bottom: 30px; transition: all 0.2s}
.pro_item a .btnprice {position: absolute; left: 50%; transform: translateX(-50%); display: inline-block; margin-top: 10px; border: 1px solid #555; padding: 5px 10px; border-radius: 10px; font-size: 13px;}
.pro_item li:hover img {transform: scale(1.1);}
.pro_item a:hover .btnprice{background: #333; color: #fff;}
.pagebtn {text-align: center; margin: 50px 0;}
.pagebtn a {display: inline-block; border: 1px solid #444; padding: 2px 5px;}
.pagebtn a:nth-child(2) {color: #222; border: none; margin: 0 5px;}
.pagebtn a:nth-child(3) {color: #c9c9c9; border: none;}


/*sub2*/
.brandstory {margin: 150px auto 0; width: 70%; height: 400px; }
.brandstory h1 {font: 80px 'Oswald','sans-serif'; border-top: 7px solid #404040; display: inline-block; color: #930000; font-weight: 500;}
.brandstory p{width: 70%; font-size: 15px; margin: 15px 0; font-weight: 400; font-family: 'Noto Sans KR','sans-serif'; }
#sec_story .story {width: 100%; height: 100%; background: url(../img/sub2/file.jpg) no-repeat center / cover;}
#sec_story .stroy {width: 100%; height: 800px;  margin: 0; padding: 0;}
.vdlstory {position: relative; width: 100%; height: 800px;  margin: 0; padding: 0;}
.vdlstory  .box02 {width: 400px; height: 500px; position: absolute; margin: 0 auto; background: #fff; right: 10%;top: 100px; }
.vdlstory .text {font: 18px 'Noto Sans KR','sans-serif';font-weight: 600; color: #555; text-align: right; margin: 70px 37px 0; }
.vdlstory .text storng, .vdlstory .text span {display: none;}
.vdlstory img {width: 80%; margin-left: 10%;margin-top: 30px;}
.videostory {margin: 150px auto 150px; width: 80%; overflow: hidden;}
.videostory .videotext {float: left; width: 35%; margin: 0 30px; text-align:right;}
.videotext h2 {margin: 30px 0; font: 60px 'Oswald','sans-serif'; font-weight: 500; text-transform: uppercase; color: #7e0000; }
.videotext p {margin-top: 50px; margin-left: 30px; font:16px 'Noto Sans KR','sans-serif'; font-weight: 300;}
.videoalign {float: right; width: 55%}



/*sub3*/
#Collection {margin: 0 auto 60px; width: 100%; font-family: 'Noto Sans KR','sans-serif'; font-weight: 500;}
#Collection article{width: 800px; margin: 30px auto 0; position: relative; height: 100%}
#Collection article img {width: 100%;}
.collection_main {width: 100%; height: 240px; position: relative; top: 0; left: 0;}
.collection_main li{width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.collection_main img{display: block;}

.control {position: absolute; top: 50%; width: 100%;}
.control .next{position: absolute; right: 2%;}
.control .prev{position: absolute; left: 2%;}
.control img{width: 30px;}

.sub_colin {width: 95%; overflow: hidden; margin: 0 auto;}
.sub_colin li{width: 24%; float: left; margin-right: 7px;}
.sub_colin li .on{position: relative;}
.sub_colin li .on:before {content: ''; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgb(51, 51, 51,0.4)}




/*sub4*/
#eventmenu {width: 1050px; margin: 0 auto; border-bottom: 1px solid #999; font-family: 'Noto Sans KR','sans-serif'; font-weight: 400; }
.event01, .event02 { padding: 10px; display: inline-block; margin: 30px 0 10px; font-size: 16px; }
.event01 {background: #2f2f2f; color: #fff;}
.event02 {background: #e3e3e3; color: #cccccc;}
#eventpage {overflow: hidden; margin: 0 auto; width: 1100px; font-family: 'Noto Sans KR','sans-serif';}
#eventpage article {float: left; width: 500px; height: 300px; margin: 30px 20px; background: #3a0c52 no-repeat; background-position: left center; background-size: cover; overflow: hidden;}
#eventpage article:nth-child(1){background-image: url(../img/sub4/event1.png);background-size: 600px;}
#eventpage article:nth-child(2){background-image: url(../img/sub4/event2.png)}
#eventpage article:nth-child(3){background-image: url(../img/sub4/event3.png); background-position: center; margin-bottom: 80px;}
#eventpage article:nth-child(4){background-image: url(../img/sub4/event4.png); margin-bottom: 80px;}
#eventpage .mask {opacity: 0.8; background:#121212; transition: all 0.2s; transform: translateY(250px); height: 100px; color: #fff; }
#eventpage .mask h2 {font-size: 20px; width: 90%; margin: 0 auto; padding-top: 15px}
#eventpage .mask span {font-size: 16px;}
#eventpage .mask p {width: 90%; margin: 0 auto; padding-top: 5px; font-size: 14px; color: #bebebe;}
#eventpage article:hover .mask{opacity: 1; transform: translateY(200px);}
#colorevent {width: 100%; height: 500px; margin: 0 auto;}
#colorevent a {display: block; width: 100%; height: 100%; text-align: center}


/*태블릿 사이즈*/
@media screen and (min-width:641px) and (max-width:768px) {
#slide {height: 300px;}
#mainheader {width: 100%;}
.headermenu {width: 90%;}
.vdlmenu li {width: 105px;}
.vdlmenu li a {padding: 10px; font-size: 16px;}
.slideshow {height: 450px;}
#slide {height: 300px;}

.seller {margin-bottom: 0;}
.seller_menu {width: 95%;}
#topseller {height: 50%;}
#event .event_img {width: 400px; right: 0; top: -95px;}
#event {height: 60%; overflow: hidden;}
#event .eventtext {width: 70%; padding-top: 5px; margin: 0 0 0 50px;}
#event .btn01 {display: none;}
.eventtext h1 {font-size: 40px; line-height: 50px;}

.instagram .pic {width: 18%; margin-left: 5px; height: 18%;}
#insta h2 {margin: 150px 35% 0; font-size: 18px; text-align: center;}

.sns {width: 60%; margin: 40px auto 0; }
footer article {width: 100%;}
.footermenu {width: 100%; margin-bottom: 10px;}
.footertxt {width: 100%; margin: 0 auto; font-size: 10px;}
.sns ul li {font-size: 30px; width: 25%}
.footertxt p {padding: 0 10px;}

.pro_item {width: 100%}
.pro_item ul{width: 100%}
.pro_item ul li  {width: 23%; margin: 20px 5px;}

.videostory {width: 90%; margin: 50px auto;}
.videostory .videotext {width: 100%; text-align: center; float: none;}
.videoalign {width: 90%; margin: 50px auto 0; float: none; text-align: center;}
.videotext h2 {margin: 0;}
.videotext p {margin: 20px auto 0;}

#Collection article {width: 90%;}
.collection_main {width: 100%; height: 230px;}
.collection_main img {height: 100%;}
.sub_colin li {width: 48%; margin-top: 10px; }

#eventmenu {width: 90%;}
#eventpage {width: 80%; margin: 0 auto;}
#eventpage article {margin: 10px auto; width: 100%}
#eventpage article:nth-child(3), #eventpage article:nth-child(4){
margin-bottom: 10px;
}
#colorevent {width: 100%; margin: 30px auto ; height: 200px;}
#colorevent img {width: 100%;}
}

@media screen and (min-width:769px) and (max-width:1024px) {
#mainheader {width: 100%;}
.headermenu {width: 90%;}
.vdlmenu li {width: 105px;}
.vdlmenu li a {padding: 10px; font-size: 16px;}
.slideshow {height: 450px;}
#slide {height: 60%;}
.seller {margin-bottom: 0;}
.seller_menu {width: 95%;}
#topseller {height: 50%;}

#event {width: 100%; height: 70%;}
#event .event_img {width: 400px;}
#event .btn01 {margin: 0 auto; right: 50%; padding: 10px 30px;}
#insta h2 {margin: 150px 35% 0;}

.sns {width: 60%;}
footer article {width: 100%;}
.footertxt {width: 90%; margin: 0 auto;}
.sns ul li {font-size: 30px; width: 25%}

.pro_item ul li  {width: 23%; margin: 20px 5px;}

.videostory {width: 90%; margin: 50px auto;}
.videostory .videotext {width: 100%; text-align: center; float: none;}
.videoalign {width: 90%; margin: 50px auto 0; float: none; text-align: center;}
.videotext h2 {margin: 0;}
.videotext p {margin: 20px auto 0;}

#Collection article {width: 90%;}
.collection_main {width: 100%; height: 330px;}
.collection_main img {height: 100%;}
.sub_colin li {width: 48%; margin-top: 10px; }

#eventmenu {width: 90%;}
#eventpage {width: 90%;}
#eventpage article {width: 45%; margin: 15px;}
#colorevent {width: 90%; margin: 0 auto; height: 300px;}
#colorevent img {width: 100%;}
}

@media screen and (min-width:1024px) and (max-width:1400px) {
#event {width: 100%; height: 70%;}
#event .event_img {width: 400px;}
#event .btn01 {margin: 0 auto; right: 50%}
#slide {height: 550px;}
.pro_item {width: 100%}
.pro_item ul{width: 90%}
.pro_item ul li  {width: 22%; margin: 20px 5px;}
#colorevent img{width: 100%;}
}